{% extends 'client/base.html' %}

{% block title %}Interaction List{% endblock %}

{% block content %}
    <h1>Interaction List</h1>
    <ul>
        {% for application in page_obj %}
            {% if application.client %}
                <li><a href="{% url 'client:applications_detail' pk=application.pk %}">
                    {{ application.client.name }} - {{ application.created_at }} - {{ application.description }}
                </a></li>
            {% elif application.employee %}
                <li><a href="{% url 'client:applications_detail' pk=application.pk %}">
                    {{ application.employee.first_name }} - {{ application.created_at }} - {{ application.description }}
                </a></li>
            {% endif %}
        {% empty %}
            <li>No interactions available</li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    <p><a href="{% url 'client:create_applications' %}">Create New Interaction</a></p>
{% endblock %}
