<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'property:property_list' %}">Список объектов</a></li>
        <li><a href="{% url 'client:deals_list' %}">Список сделок</a></li>
        <li><a href="{% url 'client:applications_list' %}">Список заявок</a></li>
    </ul>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
</footer>
</body>
</html>
