<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>
</head>
<body>
<nav>
    {% if user.is_superuser %}
        <ul>
            <li><a href="{% url 'client:contact_list' %}">Contacts</a></li>
        </ul>
    {% endif %}
    <ul>
        <li><a href="{% url 'property:property_list' %}">Property list</a></li>
    </ul>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <!-- Футер вашего сайта -->
</footer>
</body>
</html>
